:root {

}

.page{

}

.inline{
  display: inline-block;
}

.nav{
  display: block;
  z-index: 2;
  position: absolute;
  right: 3vw;
  top: 3vw;
}

.btn{

  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid #fff;

  color: #fff;
  text-decoration: none;
}
.btn:hover{
  border: 2px solid #fff;
}

.text-light{
  border: none;
}

.text-light:hover{
  border: none;
  text-decoration: underline;
}

body {
  background-color: #fff;
  font: 1rem/1.1 "Montserrat", sans-serif;
  margin: 0;
}
.hero-unit {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
video {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.poster {
  background: url(../video/Snapshots/its-clark.jpg) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 100%;
}
.vignette {
  background: rgba(0, 0, 0, .25);
  background-size: cover;
  background-blend-mode: overlay;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo{

  width: 40vw;
  position: absolute;
  z-index: 2;
  top: 3vw;
  left: 3vw;
}

.message{

  display: block;
  z-index: 2;
  position: absolute;
  left: 3vw;
  bottom: 3vw;
  width: 94vw;

}


.hero-copy{

  color: #fff;
  width: 82vw;
  display: block;
  position: relative;
  padding: 6vw 3vw;

}

h1 {
  font-size: 10vw;
  font-weight: 500;
}

p{
 font-size: 16px;
 line-height: 22px;
}

.email-list{
  width: 82vw;
  padding: 6vw;

  display: block;

  position: relative;
  color: #fff;

  background: rgba(0, 0, 0, 0.46);
  border-radius: 5px;

}

.email-list:after {
  content: "";
  display: table;
  clear: both;
}



.spacer{
  width: 100%;
  height: 3vw;
  display: block;
}

.no-margin{
  margin: 0;
}



.email-list p{
  font-size: 12px;
  line-height: normal;
  margin-bottom: 6vw;

}
.email-list h2{
  margin-top: 0;
  font-size: 14;
  font-weight: 300;
}

.tnp-submit{

  width: 30vw;

  height: 50px;
  background-color: #00b71a;
  color: #fff;
  border: none;
  border-radius: 0;

  display: block;
  float: left;
  font-size: 14px;
  margin-left: 1vw;
}

.tnp-submit:hover{
  background-color: #00cc1a;
}

 .email-list input[type=email] {

    width: 50vw;

    padding: 10px;
    float: left;
    display: block;
    border: 1px solid #ddd;
    border-color: #ddd;
    background-color: #f4f4f4;
    background-image: none;
    text-shadow: none;
    color: #444;
    font-size: 14px;
    line-height: normal;
    box-sizing: border-box;
    height: 50px;
}


@media only screen and (min-width : 699px) {
  /* Styles for above hand helds */

  .vignette {
    background: rgba(0, 0, 0, .15);
  }

  .page{
    min-width: 1024px;

  }

  h1 {

    font-size: 4.75vw;

  }

  p{
   font-size: 1.8vw;
   line-height: 2.5vw;
  }

  .hero-copy{

    width: 45vw;
    padding: 0;

  }

  .email-list{
    width: 36vw;
    padding: 3vw;
    float: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.26);

  }

  .email-list p{
    margin-bottom: 1vw;
    font-size: 14px;
  }

  .logo{

    width: 20vw;
  }

  .email-list input[type=email] {
     width: 25vw;
   }

   .tnp-submit{
     width: 10vw;
   }
}
